.button {
  margin-right: 5px;
  margin-left: 5px;
  background-color: mediumblue;
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
}
