/* Page done by Ayesha
this css file contains class information for 3 pages 

*/
.card1 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    background-color: white;
    
  }
    /* On mouse-over, add a deeper shadow */
  .card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  
  /* Add some padding inside the card container */
  .UserInfoContainer1 {
    /* padding: 5px 10px; */
    align-items: center;
    display: flex;
  }
  
  .TripImage {
    height: 160px;
    width: 170px;
    padding: 10px 40px 10px 10px;
    
  }

  .text{
    font-family:Helvetica;
    text-decoration: none;
    display: inline-block;
  }
  .heading {
      font-size: 30px;

  }

  .tripby {
    font-style: italic;
    color: Gray;

  }
  .tripdescription {
    font-size: 25px;
  }

  .tripinfo1 {
    font-size: 15px;
  }
  .tripinfo1 {
    font-size: 15px;
    padding-top: 10px;
  }


  
  .pair {
    display: flex;
    align-items: center;
  }

