/* Page done by Ayesha
this css file contains class information for 3 page
1. TripDetails.js
2. TripData
3. TripInfoBar

*/


/* TripDetails.js in Pages Folder */

.TripTop {
    
  align-items: center;
  padding: 30px 10px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}


.TripImage2 {
  height: 300px;
  width: 570px;
  padding-left: 20px;
  padding-right: 20px;
}

.Accomodation {
  
  height: 200px;
  Padding: 35px 50px 30px 1px;
  width: 30%;
  margin:auto;

}
.Backgroundd {
   /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("../Images/MountainBachground.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
  margin: auto;
  width: 70%;
  height:280px;


}

.Itineary {
  background-color: white;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  
}

.ItinearyHeading {
  align-content: center;
  font-size: 35px;
}
.AddPadiing {
  Padding: 35px 50px 30px 150px
}


.makeAFlex {
  display: flex;
  align-items: center;
}


/* TripDetails.js in Pages Folder */




/* TripData.js in Components Folder */

.box {
  width: 220px;
  padding: 10px;
  border: 3px  #585a66;
  margin: 0;
  text-align: center;
  background-color: white;
}

.boxpadding {
  padding: 5px 20px 5px 20px;
}

.TripTop1 {
  padding: 1px 10px 2px 45px;
  display: flex;
  align-items: center;
}


.buttonColorTripDeets {
  background-color: #0f1daf;
  color: white;
  border: none;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* TripData.js in Components Folder */


  
  
/* TripInfoBar.js in Components Folder */

.barr {
  display: flex;
  align-items: center;
  margin: auto;
  width: 60%;
  text-align: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.pair {
  display: flex;
  align-items: center;
}


.imgg{
  height: 38px;
  width: 38px;
}
/* TripInfoBar.js in Components Folder */
  
  
  .imgg2{
    height: 50px;
    width: 50px;
}
  
  
  .barr2 {
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
    text-align: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 7px 10px 7px;
  }

  .AccomodationImage
  {
    position: absolute;
    top: 60px;
    left: 80px;
  }
